@import "tailwindcss";

body {
  @apply bg-black text-white;
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.hero-img {
  filter: drop-shadow(0 0 40px rgba(0, 150, 255, 0.25));
}

.welcome{
  font-family: fantasy;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 0.9; 
  }
}

.blink {
  animation: blink 5s infinite;
}

@keyframes float1 {
  0% {
    transform: translate(0, 0) scale(1);
  }

  30% {
    transform: translate(60px, 40px) scale(1.05);
  }

  60% {
    transform: translate(30px, 70px) scale(0.98);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes float2 {
  0% {
    transform: translate(0, 0) scale(1);
  }

  35% {
    transform: translate(-120px, 50px) scale(1.08);
  }

  70% {
    transform: translate(-60px, 90px) scale(0.97);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes float3 {
  0% {
    transform: translate(0, 0) scale(1);
  }

  40% {
    transform: translate(70px, -50px) scale(1.06);
  }

  75% {
    transform: translate(40px, -90px) scale(0.96);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes aboutFloat {

  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(10px, 20px);
  }

  50% {
    transform: translate(-25px, 10px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
